{:paths ["bb"]
 :tasks {build-cache {:requires ([ci :as ci])
                      :task (apply ci/build-and-push *command-line-args*)}
         deploy {:doc "Deploy host with nixos-rebuild"
                 :requires ([deploy :as d])
                 :task (apply d/deploy *command-line-args*)}}}

